* {
    color: #fff !important;
    font-family: 'Verdana';
}

body {
    margin:0;
    background-color: #1F1F1F;
}

.header {
    border-top: 3px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to left, #171818, rgb(255, 101, 101), #171818);
    padding:0;
    margin:0;
    background-color: #171818;
    padding-bottom: 10px;
}

h1 {
    font-weight: 800;
}

h2 {
    font-weight: 0 !important;
}

.main-bit {
    background-color: #1F1F1F;
    margin: 50px;
}

.link-button {
    padding: 30px;
    background-color: #333333;
    border: 1px solid #676777;
    margin-bottom: 10px;
}

.link-button a{
    text-decoration: none;
}